*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: none;
    text-decoration: none;
}

body{
    background: #faebd7;
    background-image: url(../assets/homepage2.png);
    background-size: cover; 
    padding: 0 10px;
}

.icon{
    display: inline-flex;
    color: #000051;
    
}


.sidebar{
    width: 345px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: #ffd658;
    z-index: 100;
    transition: width 300ms;
}
.sidebar-brand{
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: #000051;
}
.sidebar-brand span{
    display: inline-block;
    padding-right: 1rem;
}
.sidebar-menu {
    margin-top: 1rem;
}
.sidebar-menu li {
    width: 100%;
    margin-bottom: 1.7rem;
    padding-left: 1rem;
}
.sidebar-menu a{
    padding-left: 1rem;
    display: block;
    color: #000051;
    font-size: 1.1rem;
}
.sidebar-menu a.active {
    background:#3b9c9c;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color:#fff380;
    border-radius: 30px 0px 0px 30px;
}

.sidebar-menu a.active .icon{
    color: #ffd658;
}

.sidebar-menu a span:first-child{
    font-size: 1.5rem;
    padding-right: 1rem;
}

#nav-toggle:checked + .sidebar{
    width: 70px;
 }

#nav-toggle:checked + .sidebar+ .sidebar-brand, 
#nav-toggle:checked + .sidebar li  {
   padding-left: 1rem;
   text-align: center;
 }

 #nav-toggle:checked + .sidebar li a {
    padding-left: 0rem;
}

#nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked + .sidebar li a span:last-child{
    display: none;
 }

 #nav-toggle:checked ~ .main-content{
   margin-left: 70px;
 }

 #nav-toggle:checked ~ .main-content header{
   width: calc(100% - 70px);
   left: 70px;
  }
.main-content{
    transition: margin-left 300ms;
    margin-left: 345px;
}

header{
    background:#fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    position: fixed;
    height: 90px;
    left: 345px;
    width: calc(100% - 345px);
    top: 0;
    z-index: 100;
    transition: left 300ms;
}

#nav-toggle{
    display: none;
}

header h2{
    color: #000051;
}
header label span{
    font-size: 1.7rem;
    padding-left: 1rem;
}
.search-wrapper{
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}
.search-wrapper span{
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
}
.search-wrapper input{
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
}
.search-wrapper .icon{
    background: #fff;
}
.user-wrapper {
    display: flex;
    align-items: center;
}
.user-wrapper img{
    border-radius: 50%;
    margin-right: 1rem;
}

.user-wrapper small{
    display: inline-block;
    color: #3b9c9c;
}
main{
    margin-top: 85px;
    padding: 2rem 1.5rem;
    width: calc(100%-345px);
    background: #f1f5f9;
    min-height: calc(100vh - 90px);
}
.cards{
    margin-top: 1rem;
}
.card-single{
    display: flex;
    justify-content: space-between;
    background: #fff;
    max-width: 400px;
    padding:2rem;
    border-radius: 2px;
}

.card-header button{
    background: #ffd658;
    border-radius: 10px;
    color:#fff;
    font-size: .8rem;
    padding: .5rem 1rem;
    border: 1px solid #ffd658;

}
.card-single div:first-child span{
  color: #3b9c9c;
}
.card-single div:last-child span{
    font-size: 45px;
    color:#ffd658;
}
.card-single:last-child{
    background: #ffd658
}
.card-single h1{
    color: #000051;
}

.card-single:last-child h1,
.card-single:last-child div:first-child span,
.card-single:last-child div:last-child span{
    color: #fff;
}
.recent-grid{
    margin-top: 1.5rem;
    display:grid;
    grid-gap: 2rem;
    grid-template-columns:65% auto;

}
.card{
    background: #fff;
    border-radius: 5px;
    margin-bottom: 2rem;
}
.card-header{
    padding: 1rem;
}
.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
}
.card-header h3{
    color:#000051;
}

table{
    border-collapse: collapse;
}
thead tr {
    border-top: 1px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
}
thead td{
    font-weight: 700;
}
td{
    padding: .5rem 1rem;
    font-size: .9rem;
    color: #3b9c9c;
}
td .status{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 1rem;
}
tr td:last-child{
    display: flex;
    align-items: center;
}
.card-body-fields{
    padding: 2rem;
}

.card .card-body-fields .input_field{
    margin-bottom: 15px;
    align-items: center;
    display: flex;
}


.card .card-body-fields .input_field label{
    width: 200px;
    color: #3b9c9c;
    margin-right: 10px;
    font-size: 14px;
}

.card .card-body-fields .input_field .input{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 70%;
    outline: none;
    border: 1px solid #d5dbd9;
    border-radius: 3px;
    font-size: 15px;
    padding: 5px 7px;
    transition: all 0.3s ease;
} 

.card .card-body-fields .input_field .btn{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0;
    background: #ffd658;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}

@media only screen and (max-width: 1200px) {
    .sidebar{
        width: 70px;
     }
    
    .sidebar+ .sidebar-brand, 
    .sidebar li  {
       padding-left: 1rem;
       text-align: center;
     }
    
    .sidebar li a {
        padding-left: 0rem;
    }
    
    .sidebar .sidebar-brand h2 span:last-child,
    .sidebar li a span:last-child{
        display: none;
     }
    
    .main-content{
       margin-left: 70px;
     }
    
    .main-content header{
       width: calc(100% - 70px);
       left: 70px;
      }
}
  

@media only screen and (max-width: 960px){
    .cards{
        grid-template-columns: repeat(3, 1fr);
    }

    .recent-grid{
        grid-template-columns: 60% 40%;
    }
}

@media only screen and (max-width: 768px){
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }

    .recent-grid{
        grid-template-columns: 100%;
    }

    .search-wrapper{
        display: none;
    }

    .sidebar{
        left: -100% !important;
    }

    header h2 {
        display: flex;
        align-items: center;
    }

    header h2 label {
        display: inline-block;
        text-align: center;
        justify-content: center !important;
        align-items: center;
        background: #ffd658;
        padding-right: 0rem;
        margin-right: 1rem;
        border-radius: 50%;
        color: #fff;
        display: flex;
        align-items: center;
    }

    header h2 span{
        text-align: center;
        padding-right: 0rem;
    }
    header h2 {
        font-size: 1.1rem;
    }

    .main-content{
        width: 100%;
        margin-left: 0rem;

    }

    header{
        width: 100% !important;
        left: 0 !important;
    }

    #nav-toggle:checked + .sidebar{
        left: 0 !important;
        z-index: 100;
        width: 345px;
    }

   
    
     #nav-toggle:checked + .sidebar + .sidebar-brand, 
     #nav-toggle:checked + .sidebar li  {
       padding-left: 2rem;
       text-align: left;
     }
    
     #nav-toggle:checked + .sidebar li a {
        padding-left: 1rem;
    }
    
    #nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
    #nav-toggle:checked + .sidebar li a span:last-child{
        display: inline;
     }
     #nav-toggle:checked ~ .main-content{
        margin-left: 0rem !important;
     }
}


@media only screen and (max-width: 560px){
    .cards{
        grid-template-columns: 100%;
    }
}

